footer{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(79, 149, 255, 0.767);;
    border-bottom:8px solid rgb(14, 14, 187);
    box-shadow: 0 0 5px black;
}

.divfooter{
    margin: 0 5%;
}
.divfooter img{
    filter: saturate(0);
}
.red{
    width: 30px;
}
.correo{
    position: relative;
    background-color: rgb(14, 14, 187);
    padding: 5px;
    margin: 8px 0;
}
.correo input{
    padding: 5px;
}
.correo p{
    position: absolute;
    background-color: rgb(14, 14, 187);
    color: wheat;
    top: -14px;
    right: 10px;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:700px){
    footer{
        display: block;
        text-align: center;
    }
    .correo{
        width: 80%;
        margin: 8px auto;
    }
    .correo input{
        width: 80%;
    }
}