h2{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
}
.conteinerbox{
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.box{
    display: flex;
    width: 100%;
    margin-left: -280px;
}
.box div{
    margin: 50px 50px;
    padding: 10px;
    box-shadow: 0 0 5px black;
}
.producto{
    width: 180px;
    height: 180px;
}

.box p{
    text-align: center;
    transition: all 1s ease;
    font-size: 20px;
    cursor: pointer;
}
#Bizq,#Bder{
    position:absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 5px 5px;
    font-family:monospace;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    cursor: pointer;
}
#Bizq{
    left: 0px;
}
#Bder{
    right: 0px;
}
.boxProducto{
    position: relative;
}
.tickoff{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 10px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    transition: all 2s ease;
}
.tickon{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 10px;
    opacity: 1;
    cursor: pointer;
    z-index: 2;
    transition: all 2s ease;
}
.ntick{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease;
}
.tickoff:hover,.ntick:hover{
    opacity: 1;
    scale: 1.2;
}
.tickon:hover{
    opacity: 0;
}
.boxProducto:hover .precio{
    transform: scale(2);
}
